/*
  ===============================
    Body
  ===============================
*/
html { height: 100%; }

body {
    min-height:100%; 
    position:relative; 
    padding-bottom: 80px;
    background-color: #eee;
    position: relative;

}

/*
  ===============================
    Navigation
  ===============================
*/

.navbar-brand > img {
  width: 25px;
  height: 25px;
}

/*
  ===============================
    Footer
  ===============================
*/
.footer {
    position: absolute; 
    left: 0 ; 
    right: 0; 
    bottom: 0; 

    height: 60px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    padding-top: 10px;
}
