<footer class="footer">
  <div class="container text-center">
    <small>Copyright Track 2017 &copy;</small>
    <small>| <a href="https://github.com/xNavid/trackr">GitHub</a></small>
  </div>
</footer>